/* Author: Stark Shaw */
/* Date: Oct 1 2016 */

/* Designed for Japanese for skin “Vector”. */

body, h1, h2, h2 span {
	font-family: 'Baskerville', 'Georgia', 'Hiragino Mincho Pro', 'MS PMincho', 'MS Mincho', 'Songti SC', 'SimSun-ExtB', 'SimSun', serif !important;
}

/*
Baskerville – The main font for western languages.
Georgia – Concerning for Windows.
Hiragino Mincho Pro – The default serif Japanese font in OS X.
MS PMincho – The default serif Japanese font since Windows 95.
MS Mincho – The default serif Japanese font since Windows 3.1.
Songti SC – The default serif Simplified Chinese font in OS X.
SimSun-ExtB – The default serif Simplified Chinese font since Windows Vista.
SimSun – The default serif Simplified Chinese font since Windows 95.

serif – The final fallback.

You may add, revise or delete entries according to your taste.
*/

pre {
	font-family: 'SF Mono', 'Source Code Pro', 'Menlo', 'Monaco', monospace;
}

/* This part is for pre-formatted text, or code.
SF Mono – A new monospace font family introduced by Apple.
Source Code Pro – A free monospace font by Adobe Inc.
Menlo – Pre-installed in OS X.
Monaco – Pre-installed in OS X.
*/
